@import '@fontsource/inter';
$font_text: "Inter";
@mixin heading_1 {
  font-family:'Inter';
  font-weight: 700;
  font-size: 72px;
  line-height:1.2;
  letter-spacing:0.2px;
  color: #ffffff;
  position: absolute;
  top: 75%;
  left: 36%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: left;
  margin: 0;
  padding: 0;
};

@mixin description{
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: 0.2px;
}

@mixin main_con{
  background-color: #fafafa;
  width: 100%;
  height: 529px ;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@mixin main_photo{
  /*background-color: #59f17f;*/
  width: 1280px;
  height: 529px;
  position: relative;
  overflow: hidden;
}



.main_con{
  @include main_con();
}

.main_photo{
  @include main_photo();
  &::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 1280px;
    height: 529px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,  
      rgba(0, 0, 0, 0.3) 50% 
    );
    z-index: 1;
  }

 .photo_theatre {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 529px;
  
    z-index: 0; // фон — самое низкое
  }

  .text_h1 {
    @include heading_1();
    
}
  }
  .back_tofront {
    position: absolute;
    bottom: 20px;
    left: 92%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    z-index: 2;

    .button_back,
    .button_tofront {
      width: 48px;
      height: 48px;
      cursor: pointer;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }

body{
  background-color: #fafafa;;
}
/*Кнопки навигации*/
.navigate {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}
.navigate:hover,
.navigate-active
{
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 2px solid white;
}

.main_con2{
  height: 120px ;
  /*background-color: aquamarine;*/
  background-color: #fafafa;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content:center;}
  

  .description_con{
    background-color: #FBFBFB;
    display: flex;
    gap: 450px;
    width: 1280px;
    height: 120px;
    white-space: nowrap;
  
    .description_all {
    margin-left: 53px;
    width: 600px;

  .description {
    display: flex;
    justify-content: space-between; // Равномерное распределение колонок
    align-items: flex-start;
    gap: 0;
    flex-wrap: nowrap;
    width: 600px;
    height: 120px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 0; // Убирает промежуток между строками
      margin-top: 30px;

      .q, .e {
        margin: 1px; // Убирает стандартные отступы
        padding: 0;
        line-height: 1.2; // Оптимальное межстрочное расстояние
      }

      .q {
        font-size: 12px;
        color: #818181;
        @include description();
      }

      .e {
        font-size: 24px;
        color: #282828;
         @include description();
      }
    }
  }
}
.description_button{
    margin-top: 47px;
    width: 157px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    font-family: $font_text;
    text-decoration: underline; // Подчёркивание
    text-underline-offset: 4px; // Отступ подчёркивания от текста
    cursor: pointer;

    &:hover{
      color: #FA434B;
    }
}
}
.main_con3{
  width: 100%;
  height:670px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;

  .main_card{
    width: 1280px;
    height: 670px;
    background-color: #ffffff;

    .back_front{
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      margin-left: 1160px;
      width: 100px;

      .button{
        width: 45px;
        height: 45px;
        border-radius: 100px;

         &:hover{
          background-color:#FA434B ;
          border-radius: 100px;
        }
          .button_back,
          .button_tofront {
            width: 13px; // Уменьшаем размер иконки, чтобы она помещалась в круг
            height: 13px;
            transition: opacity 0.3s;
            margin-top: 15px;
            margin-left: 15px;

            &:hover {
              opacity: 0.8;
            }
      }
    }
  }
}
  .premier_con {
    display: flex;
    justify-content: flex-start;
    gap: 240px;
    width: 100%;
    max-width: 1200px;
    margin-left: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden; 
    

    
    @media (max-width: 768px) {
      gap: 15px;
    }
  }

  .Premier_h1{
  @include description();
  font-size: 36px;
  margin-left:51px;
  margin-top: 50px;
  margin-bottom: 0px;
  }

  .premiere-card{
    width: 335px;
    height: 450px;
    margin-top: 50px;
    background-color: #FFFFFF;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top:0 ;
      left:0;
      width: 335px;
      height: 450px;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 30%,  
        rgba(0, 0, 0, 0.1) 50% 
      );
    z-index: 1;
    pointer-events: none; /* Чтобы не мешал кликам */
    }
    .card_img{
      z-index: 0;
      position: absolute;
      margin-left: 0px;
    }
  }

    .premier_date{
      z-index: 2;
      position: absolute;
      display: flex;
      gap: 20px;
      color: #000;
      color: #ffffff;
      margin-left: 30px;
      margin-bottom: 0px;
      margin-top: 30px;

      .card_date{
        background-color: #FA434B;
        width: 118px;
        height: 29px;
        text-align: center;
        border-radius: 14px;
        color: #ffffff;
        font-size: 14px;

        .c{
          margin-top: 3px;
        }

      }
      .card_age{
        width: 58px;
        height: 29px;
        border-radius: 14px;
        background-color:#EFEFEF;
        color: #1E201F;
        text-align: center;
        font-size: 14px;

        .d{
          margin-top: 3px;
        }


      }
    }
    .card_title{
      z-index: 2;
      position: absolute;
      color: #ffffff;
      width: 170px;
      height: 30px;
      font-size: 20px;
      margin-top: 341px;
      margin-left: 30px;
      word-wrap: break-word;
      font-size: 'Inter';
      font-weight: 500;
      cursor: pointer;

      &:hover{
        color: #FA434B;
      }
      
    }
    .card_description{
      z-index: 2;
      position: absolute;
      color: #ffffff;
      display: -webkit-box;
      -webkit-line-clamp: 3; 
       line-clamp: 3;       // Максимум 3 строки
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 387px;
      margin-left: 30px;
      width: 280px;
      font-size: 12px ;
      line-height: 16px;
      font-size: 'Inter';
      font-weight: 400;
      color: #C7C7C7;
      
    }
}

.main_con4{
  width: 100%;
  height:105px;
  background-color: #FA434B;
  display: flex;
  justify-content: center;
  align-items: center;

  .buttons_4_con{
    
    width: 1280px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;


    .buttons_4{
      width: 810px;
      height:45px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:10px;

      .buttons_vid1,.buttons_vid2,.buttons_vid3,.buttons_vid4{
        border-radius: 20px;
        height: 45px;
        border: 2px solid #ffffff ;
        font-size: 16px;
        cursor: pointer;
        font-weight: 400;
        font-family: 'Inter';
        background-color:#FA434B ;
        color: #FFFFFF;

        &:hover{
          color: #FA434B;
          background-color: #FFFFFF;
        }

      }
      .buttons_vid1{
        width: 211px;
      }
      .buttons_vid2{
        width: 171px;
      }
      .buttons_vid3{
        width: 175px;
      }
      .buttons_vid4{
        width: 193px;
      }
    }
  }
   
}

.main_con5{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  .news_con{
    background-color: #ffffff;
    height: 900px;
    width: 1280px;
    display: flex;
    flex-direction: column;

    .text_more_news{
      display: flex;
      gap:688px;
    }

    .news_text{
      margin-top: 50px;
      margin-left: 58px;
      font-size: 36px;
      font-family: 'Inter';
      letter-spacing: 0.2px;
      font-weight: 700;
      color: #282828;
    }

    .more_news{
      font-size: 18px;
      font-family: 'Inter';
      letter-spacing: 0;
      color:#282828 ;
      font-weight: 600;
      cursor: pointer;
      margin-top: 60px;
      margin-left: 58px;

      &:hover{
        color: #FA434B;
      }
    }

    .news_news{
      width: 1180px;
      margin-left: 48px;
      display: flex;
      flex-wrap: wrap;
      gap:20px;

      .card_news{
        width:580px;
        height: auto;

        .picture_news{
          background-color: #C7C7C7;
          width: 580px ;
          height: 150px;
          position: relative;
          overflow: hidden;

          .news_img{
            width: auto ;
            height: 200%;
            position: absolute;
            object-fit: cover;
            min-width: 100%;
          }
        }
        .title_date{
          display: flex;
          margin-top: 20px;
          gap:90px;

          .title_news{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color:#1E201F;
            white-space: normal;
            cursor: pointer;
            
            &:hover{
              color: #FA434B;
            }
          }
          .date_news{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color:#C4C4C4;
          }
        }
        .description_news{
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: #86837F;
          margin-top: 10px;
        }
      }
    }
  }

}







