@import '@fontsource/inter';

.about_con{
    background-color: #3da8ff;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: center;


    .about_info_button{
        background-color: #FBFBFB;
        width: 1280px;
        height: 120px;
        display: flex;
        gap:770px;
        justify-content: center;
        align-items: center;

        .about_info{
            display: flex;
            flex-wrap: nowrap;
            gap:30px;
            width: 900px;

            .column {
                display: flex;
                flex-direction: column;
                margin: 0; // Убираем отступы
                padding: 0; // Убираем отступы


            .t{
               font-family: 'Inter'; 
               font-weight: 700;
               font-size: 12px;
               letter-spacing: 0.2px;
               color:#818181;
               margin: 0;
               padding: 0;
            }

            .h{
               font-size: 24px;
               font-family: 'Inter';
               letter-spacing: 0.2px;
               color: #282828;
                margin: 0;
                padding: 0;

            }


        }
    }
    }
    .about_button{
    text-decoration: underline;
      text-decoration-thickness: 1px; /* Толщина линии */
      text-underline-offset: 4px; /* Отступ от текста */
      color: #282828;
      font-size: 18px;
      font-family: 'Inter';
      font-weight: 600;
      letter-spacing: 0.2px;
      cursor: pointer;

      &:hover{
        color: #FA434B;
      }
    }

}
.information_con{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: brown;

        .info_con{
            background-color: darkorange;
            width: 1280px;
            height: 648px;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 0;

           
        }
        .photo_city{
            width: 560px;
            height: 560px;
            background-color: #E7E7E8; // Серый фон вместо color
            position: absolute;
            top: 50px; // Позиционируем от верхнего края
            right: 0;  // Прижимаем к правому краю
            z-index: 1;
            }
     }