$main_color: #FFFFFF;
$con_color: #FFFFFF;
$logo_button: #FFFFFF;
$button: #FFFFFF;
$button_text_color: #f31717;
$button_font: 'Inter';
$nav-button-active-bg: #DCDEEE;
@import '@fontsource/inter';

.header_con {
  width: 100%;
  height: 71px;
  background-color: $main_color;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;          
  left: 0;
  right: 0;
  z-index: 1000;
 

  .logo_nav_con {
    width: 1280px;
    background-color: $con_color;
    height: 71px;
    display: flex;
    
  
    .logo_button {
      background-color: $logo_button;
      height: 71px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-bottom: 0px;
      gap: 20px;
      
    
      .logo_img {
        width: 55px;
        height: 55px;
        margin-top: 8px;
      }
    }

    .button {
      background-color: $button;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap:50px;

      
      .navigate {
        cursor: pointer;
        padding: 10px;
        font-family: $button_font;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        height: auto;
        margin-top: 12px;
        border-bottom: none !important;
    

        &:hover {
          color: $button_text_color;
          border-bottom: none !important;
        }
      }
      
      .navigate-active {
        cursor: pointer;
        padding: 10px;
        font-family: $button_font;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        height: auto;
        margin-top: 12px;
        color: $button_text_color !important;
        border-bottom: none !important;
      }
    } 
  }
}