@import '@fontsource/inter';
.news_body{
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;

  .news_news{
    width: 1280px;
    height: auto;
    display: row;

    .news_h1text{
      font-family: 'Inter';
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.2px;
      margin-top: 40px;
    }

    .news_con{
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: row !important;
      position: relative;
      gap:20px;

      .news_item{
        width: 580px;
        height: auto;
        background-color: #ffffff;


        .news_photo{
          width: 580px;
          height: 150px;
          overflow: hidden;
          background-color: black;

          .news_img{
            width: 580px;
            height: 300px;
            object-fit: cover;
          }
        }

        .news_title_date{
          display: flex;
          flex-direction: row;

          .news_title{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 30px;
            margin-top: 20px;
            cursor: pointer;

            &:hover{
              color: #FA434B;
            }
          }

          .news_date{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 30px;
            color: #C4C4C4;
           
          }
    }
        .news_description{
          display: -webkit-box;
          -webkit-line-clamp: 2; 
          line-clamp: 2;       // Максимум 3 строки
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: 'Inter';
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 15px;
            color: #C4C4C4;
            margin-top: 10px;

        }




      }


  }

  



    

      
    }

     
      

        

        
  }

